<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/dogStyle.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/script.js"></script>
		
	</head>
	<body>
		<div class = "container">
			<div id = "split" class = "split">
				<div class="front">
					<div class = "screen sc_left" id="clicked">
						
						<!--clicks page-->
						<div class="click_page">
						</div>
					</div>

					<div class = "screen sc_right" id="map">
						<!--maps page-->
						<div class = "map_page">
						</div>
					</div>



	</body>
</html>

