body {
    margin: 0;
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: gradient(red, yellow);

}

h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-100%);
    font-size: 10em;
    color: #5BC0EB;
    animation: change 10s infinite ease;
}

div.a {
    width: 100px;
    height: 200px;
    background-image: url("pineapple.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    -webkit-animation: rotation 2s infinite linear;
}

div.a:hover {
    cursor: pointer;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes change {
    0% {
        color: #5BC0EB;
    }
    25% {
        color: white;
    }
    50% {
        color: rgb(255, 27, 215);
    }
    75% {
        color: rgb(0, 243, 0);
    }
    100% {
        color: #5BC0EB;
    }
}


