body {
    margin: 0;
    background: rgb(255, 217, 205);
}

h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-100%);
    font-size: 10em;
    color: #5BC0EB;
}

div.a {
    width: 100px;
    height: 200px;
    background-image: url("pineapple.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    -webkit-animation: rotation 2s infinite linear;
}

div.a:hover {
    cursor: pointer;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}


